@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  background-color: #def0f5;
  margin: 0 auto;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
}

.header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
}

.header__vnut {
  border: 5px solid #acd2eb;
  border-radius: 50px;
  background-color: #acd2eb;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

.glav_text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 60px 50px 50px 50px;
  color: #fff;
  font-size: 30px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.glav_text__1::before {
  content: " ";
  padding: 0px 30px 0px 0px;
  background: url("../img/ico/shape_2_9.png") right no-repeat;
}

.glav_text__2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 30px 0px 0px;
}

.text__text {
  margin: 30px 0px 0px 0px;
}

.niz_text {
  max-width: 700px;
  font-size: 25px;
  margin: 0 auto;
}

.content__text__1 {
  font-size: 30px;
}

.content__text {
  max-width: 700px;
  font-size: 25px;
  margin: 0 auto;
}

.content__text__2 {
  padding: 0px 0px 0px 40px;
}

.imm__gg1 {
  max-width: 100%;
  width: 150px;
  height: 40px;
}

.imm__gg {
  max-width: 100%;
  width: 220px;
  height: 150px;
}

.hi__body {
  color: #050505;
  padding: 0px 20px 0px 0px;
  max-width: 700px;
  margin: 0 auto;
}

.hi__title {
  margin: 20px 0px 40px 0px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 40px;
}

.hi__list li {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  margin: 0px 0px 15px 0px;
  padding: 0px 0px 3px 36px;
  background: url("../img/icons/icon.png") 0 1px no-repeat;
  font-size: 20px;
}

.hi__list li:last-child {
  margin: 0;
}

.hi__list-1:nth-child(1) {
  background: url("../img/ico/ico2.png") 0 1px no-repeat;
}

.hi__list-2:nth-child(2) {
  background: url("../img/ico/ico2.png") 0 1px no-repeat;
}

.hi__list-3:nth-child(3) {
  background: url("../img/ico/ico2.png") 0 1px no-repeat;
}

.hi__list-4:nth-child(4) {
  background: url("../img/ico/ico2.png") 0 1px no-repeat;
}

.hi__list-5:nth-child(5) {
  background: url("../img/ico/ico2.png") left no-repeat;
}

.imgg__bottom {
  margin: 50px 0px 0px 0px;
}

.imm__ggbot {
  max-width: 100%;
  width: 110px;
  height: 60px;
  padding: 0px 0px 0px 35px;
}

.bottom__nizz {
  background-color: #bfd9eb;
  max-width: 700px;
  font-size: 25px;
  padding: 10px;
  margin: 0 auto;
  color: #32459c;
}

.content__text__22 {
  padding: 0px 0px 0px 40px;
}

.spanig {
  font-weight: bold;
  text-decoration: underline;
}

.bottomm24 {
  text-align: center;
}

.imgg__bottom24 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 40px 0;
}

.imm__ggbottom24 {
  max-width: 100%;
  width: 150px;
  height: 110px;
}

.imtext-niz {
  font-size: 30px;
  font-style: italic;
  color: black;
  font-weight: bold;
}

.imtext-niz2 {
  font-size: 25px;
  font-weight: 300;
  color: #233480;
}

.block__nizz {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.blokk__niz {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.vopros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 60px 0px 0px 0px;
  padding: 0px 0px 0px 37px;
  font-size: 20px;
  color: #9e9aa5;
}

.vopros__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0px 70px 0px;
  font-size: 35px;
  color: #1965c9;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font: bold;
}

.vopros__3 {
  font-size: 20px;
  color: #9e9aa5;
}

.block__fot {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.block__foot {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.block__foott {
  text-align: center;
}

.block__foott__4 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 10px 0px 30px 0px;
}

.vopros__4 {
  padding: 10px;
}

.imm__ggbottom26 {
  max-width: 100%;
  width: 60px;
  height: 35px;
}

.imm__ggbottom25 {
  max-width: 100%;
  width: 50px;
  height: 30px;
}

.content-battomm {
  /*--------------------*/
  margin: 45px 0px 0px 0px;
  /*-отступ внизу-*/
  height: 44px;
  display: inline-block;
  line-height: 44px;
  padding: 0px 30px;
  border-radius: 17px;
  background-color: #acd2eb;
  -webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #ffffff;
  font-size: 14px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  letter-spacing: 2.8px;
}

.content-battomm:hover {
  background-color: #32459c;
}

.content-battomm:active {
  position: relative;
  top: 3px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }

  .header {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 30px 0;
    margin: 0px 20px 0px 20px;
  }

  .header__vnut {
    background-color: #acd2eb;
    background-color: #acd2eb;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
  }

  .glav_text {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 20px;
    color: #fff;
    font-size: 15px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  }

  .glav_text__1::before {
    content: " ";
    padding: 0px 20px 0px 0px;
    background: url("../img/ico/shape_2_9.png") right no-repeat;
  }

  .glav_text__2 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0px 20px 0px 0px;
  }

  .text__text {
    margin: 20px 0px 0px 0px;
    padding: 0px 10px 0px 30px;
    max-width: 100%;
  }

  .niz_text {
    width: 100%;
    font-size: 15px;
    margin: 0 auto;
  }

  .content__text__1 {
    font-size: 18px;
    padding: 0px 20px 0px 20px;
  }

  .content__text {
    width: 100%;
    padding: 0px 20px 0px 35px;
    font-size: 15px;
    margin: 0 auto;
  }

  .content__text__2 {
    padding: 0px 10px 0px 30px;
  }

  .imm__gg1 {
    display: inline-block;
    margin: 0 auto;
    width: 100px;
    height: 20px;
    padding: 0px 0px 0px 30px;
  }

  .imm__gg {
    max-width: 100%;
    width: 110px;
    height: 70px;
  }

  .hi__body {
    color: #050505;
    padding: 0px 20px 4px 27px;
    width: 100%;
  }

  .hi__title {
    margin: 20px 0px 25px 0px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 20px;
  }

  .hi__list li {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 7px 26px;
    background: url("../img/icons/icon.png") 0 1px no-repeat;
    font-size: 15px;
  }

  .hi__list li:last-child {
    margin: 0;
  }

  .hi__list-1:nth-child(1) {
    background: url("../img/ico/ico2.png") 0 1px no-repeat;
  }

  .hi__list-2:nth-child(2) {
    background: url("../img/ico/ico2.png") 0 1px no-repeat;
  }

  .hi__list-3:nth-child(3) {
    background: url("../img/ico/ico2.png") 0 1px no-repeat;
  }

  .hi__list-4:nth-child(4) {
    background: url("../img/ico/ico2.png") 0 1px no-repeat;
  }

  .hi__list-5:nth-child(5) {
    background: url("../img/ico/ico2.png") left no-repeat;
  }

  .imgg__bottom {
    margin: 30px 0px 0px 0px;
  }

  .imm__ggbot {
    max-width: 100%;
    width: 70px;
    height: 30px;
    padding: 0px 0px 0px 18px;
  }

  .bottom__nizz {
    background-color: #bfd9eb;
    font-size: 15px;
    padding: 0px 10px 0px 29px;
    margin: 0 auto;
    color: #32459c;
  }

  .content__text__22 {
    padding: 0px 0px 0px 20px;
  }

  .spanig {
    font-weight: bold;
    text-decoration: underline;
  }

  .bottomm24 {
    text-align: center;
  }

  .imgg__bottom24 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 20px 0;
  }

  .imm__ggbottom24 {
    max-width: 100%;
    width: 110px;
    height: 100px;
  }

  .imtext-niz {
    font-size: 15px;
    font-style: italic;
    color: black;
    font-weight: bold;
  }

  .imtext-niz2 {
    font-size: 17px;
    font-weight: 300;
    color: #233480;
  }

  .block__nizz {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .blokk__niz {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .vopros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 30px 0px 0px 0px;
    padding: 0px 0px 0px 37px;
    font-size: 15px;
    color: #9e9aa5;
  }

  .vopros__2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 20px 0px 30px 0px;
    padding: 0px 20px 0px 30px;
    font-size: 19px;
    color: #1965c9;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font: bold;
  }

  .vopros__3 {
    font-size: 15px;
    color: #9e9aa5;
  }

  .block__fot {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .block__foot {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .block__foott {
    text-align: center;
  }

  .block__foott__4 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 10px 0px 30px 0px;
  }

  .vopros__4 {
    padding: 10px;
  }

  .imm__ggbottom26 {
    max-width: 100%;
    width: 40px;
    height: 25px;
  }

  .imm__ggbottom25 {
    max-width: 100%;
    width: 38px;
    height: 20px;
  }

  .content-battomm {
    /*--------------------*/
    margin: 25px 0px 0px 0px;
    /*-отступ внизу-*/
    height: 30px;
    display: inline-block;
    line-height: 24px;
    padding: 0px 20px;
    border-radius: 17px;
    background-color: #acd2eb;
    -webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #ffffff;
    font-size: 10px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    letter-spacing: 2.8px;
  }

  .content-battomm:hover {
    background-color: #32459c;
  }

  .content-battomm:active {
    position: relative;
    top: 3px;
    -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  }
}